<head>
  <title>FFE Listing {{ engagements[0]['meta_date'] }} {{ engagements[0]['commune'] }}</title>
  <style>
  .odd {
     background: #EEEEEE;
  }
  </style>
</head>
<body>
  <a href="{{webdir}}/">Liste</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="" href="{{webdir}}/logout">Logout</a><br/>
  <table>
      <big>{{ engagements[0]['meta_date'] }} {{ engagements[0]['commune'] }}</big>
      <tr class="odd">
      <td><b>NOM</b></td><td><b>Prenom</b></td><td><b>Categorie</b></td><td><b>Non-inscrit</b></td><td><b>Inscrit</b></td>
      </tr>
      {% for personne in personnes %}
      <tr height="35px" class="{{ loop.cycle('even', 'odd') }}">
        <td>{{personne['nom']}}</td><td>{{personne['prenom']}}</td><td>{{personne['sexe']}} - {{personne['categorie']}}</td>
        {# subscribe #}
        <td width="30%" bgcolor="{% if personne['subs']|length > 0 %}lightyellow{% endif %}">
        {% for sub in personne['subs'] %}
          {% if sub['sub_id'] == ""  %}
          <a href="{{webdir}}/subscribe/{{sub['id']}}/{{personne['personne_id']}}">{{sub['discipline']}}-{{sub['categorie']}}</a>
          {% endif %}
        {% else %}
        {% endfor %}
        </td>
        {# unsubscribe #}
        <td width="30%" bgcolor="{% if personne['subs']|length > 0 %}lightgreen{% endif %}">
        {% for sub in personne['subs'] %}
          {% if sub['sub_id'] != ""  %}
          <a href="{{webdir}}/unsubscribe/{{sub['id']}}/{{sub['sub_id']}}">{{sub['discipline']}}-{{sub['categorie']}}</a>
          {% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
  </table>
</body>
