<head>
  <title>FFE Listing {{ engagements[0]['meta_date'] }} {{ engagements[0]['commune'] }}</title>
  <style>
  .odd {
     background: #EEEEEE;
  }
  </style>
</head>
<body>
  <script>
    function remove(element) {
        element.parentNode.removeChild(element);
    }
    function ajax(url) {
      let xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.send();
    }
  </script>
  <p>
  <a href="{{webdir}}/">&#x1F93A; Club</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{webdir}}/engagements">&#x1F3C6; Engagements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="" href="{{webdir}}/logout">&#x2620; Logout</a>
  </p>
  <table>
      <p><big>{{ engagements[0]['meta_date'] }} {{ engagements[0]['commune'] }}</big></p>
      <p>
      {% for e in engagements %}
        {{e['discipline_code']}}-{{e['sexe']}}-{{e['categorie']}} &nbsp;&nbsp;&nbsp;
      {% endfor %}
      </p>
      <tr class="odd">
      <td><b>NOM</b></td><td><b>Prenom</b></td><td><b>Categorie</b></td><td><b>Non-inscrit</b></td><td><b>Inscrit</b></td>
      </tr>
      {% for personne in personnes %}
      <tr height="35px" class="{{ loop.cycle('even', 'odd') }}">
        <td>{{personne['nom']}}</td><td>{{personne['prenom']}}</td><td>{{personne['sexe']}} - {{personne['categorie']}}</td>
        {# subscribe #}
        <td width="10%" bgcolor="{% if personne['subs']|length > 0 %}lightyellow{% endif %}">
        {% for sub in personne['subs'] %}
          {% if sub['sub_id'] == ""  %}
          {% set url = webdir+"/subscribe/"+sub['id']|string+"/"+personne['personne_id']|string %}
          <button id="{{sub['id']}}_{{personne['personne_id']}}" onClick="ajax('{{url}}'); remove(this);">{{sub['discipline']}}-{{sub['sexe']}}-{{sub['categorie']}}</button><br>
          {# -{{sub['sexe']}}-{{sub['categorie']}} #}
          {% endif %}
        {% endfor %}
        </td>
        {# unsubscribe #}
        <td width="10%" bgcolor="{% if personne['subs']|length > 0 %}lightgreen{% endif %}">
        {% for sub in personne['subs'] %}
          {% if sub['sub_id'] != ""  %}
          {% set url = webdir+"/unsubscribe/"+sub['id']|string+"/"+sub['sub_id']|string %}
          <button id="{{sub['id']}}_{{sub['sub_id']}}" onClick="ajax('{{url}}'); remove(this);">{{sub['discipline']}}-{{sub['sexe']}}-{{sub['categorie']}}</button><br>
          {# -{{sub['sexe']}}-{{sub['categorie']}} #}
          {% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
  </table>
</body>
