<head>
  <style>
  .odd {
     background: #EEEEEE;
  }
  </style>
</head>
<body>
  <p>
    <a href="{{webdir}}/logout">Logout</a>
  </p>
  <table>
    {% for key, eng in engagements.items() %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td width="20%" style="vertical-align: top;"><a href="{{webdir}}/engagement/{{eng[0]['meta_id']}}">{{eng[0]['date_debut']}} - {{eng[0]['commune']}}</a></td>
      <td width="40%" style="vertical-align: top;">
        {% for e in eng %}
         {{e['discipline_code']}}-{{e['sexe']}}-{{e['categorie']}}<br/>
        {% endfor %}
      </td>
      <td width="40%" style="vertical-align: top;">{{eng[0]['intitule']}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
